<div id="puts-container">
  <h3>Puts</h3>
  <p>文字や数字などのデータをコンソール（ターミナル）に出力するためのメソッド。数値の計算もしてくれる。</p>
  <p>現場では、デバッグ時によく利用される。</p>
  <div class="code-container">
    <h5>コード</h5>
    <pre class="prettyprint">
     <code>
       puts "Hello"
       puts 3 + 4
     </code>
    </pre>
  </div>
  <div class="code-container">
    <h5>出力結果</h5>
    <pre class="prettyprint">
     <code>
       Hello
       7
     </code>
    </pre>
  </div>
  <h4>式展開</h4>
  <p>文字列の中で変数やメソッドの値を表示する際に使用する。</p>
</div>