/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

@media screen and (min-width:0px){
  /*0px以上で適用する内容*/
}

@media screen and (min-width:1000px){
  /*600px以上で適用する内容*/
  body {
    padding-top: 70px;
  }
  .container {
    width: 1000px;
    padding-bottom: 200px;
    margin: 0 auto;
    a {
      color: #CC444A;;
    }
  }

  @import "contents";
  @import "rubys";
  @import "rails";

}