// Place all the styles related to the contents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 1000px;
  height: 3000px;
  margin: 0 auto;
}