// Place all the styles related to the contents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bootstrap-container {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  .title-container {
    padding-bottom: 30px;
  }
  .heading-container {
    padding: 30px 0 20px 0;
  }
  .component-container {
    padding-top: 50px;
  }
  .button-container {
    padding-top: 100px;
  }
  h3{
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h3:first-letter {
    font-size: 3em;
    line-height: 1;
    margin: 0.2em 0 0;
    padding: 0.1em 0;
  }
  h3 {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  h3::after {

    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  h3:hover::after {
    transform: scale(1, 1);
  }
  h5 {
    font-size: 15px;
    color: #CC444A;
  }
  h4 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 50px 0 10px 0;
  }
  h4::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  h4:hover::after {
    transform: scale(1, 1);
  }
  .code-container {
    padding: 30px 0;
    .result {
      color: #ffffff;
      background-color: black;
    }
    pre.prettyprint {
      padding: 2px;
      border: 1px solid #888;
      display: flex;
    }
  }
}

#environment-container {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  .title-container {
    padding-bottom: 30px;
  }
  .heading-container {
    padding: 30px 0 20px 0;
  }
  .component-container {
    padding-top: 50px;
  }
  .button-container {
    padding-top: 100px;
  }
  h3{
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h3:first-letter {
    font-size: 3em;
    line-height: 1;
    margin: 0.2em 0 0;
    padding: 0.1em 0;
  }
  h3 {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  h3::after {

    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  h3:hover::after {
    transform: scale(1, 1);
  }
  h5 {
    font-size: 15px;
    color: #CC444A;
  }
  h4 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 50px 0 10px 0;
  }
  h4::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  h4:hover::after {
    transform: scale(1, 1);
  }
  .code-container {
    padding: 30px 0;
    .result {
      color: #ffffff;
      background-color: black;
    }
    pre.prettyprint {
      padding: 2px;
      border: 1px solid #888;
      display: flex;
    }
  }
}